@model IEnumerable<OrgChart.Models.Employee>
@foreach (OrgChart.Models.Employee employee in Model)
{
    <div class="child" data-id="@employee.Id">
        @Html.Partial("_Employee", employee)
    </div>
}