@model IEnumerable<OrgChart.Models.EmployeeSearch>
<div class="list-group ">
    @foreach (OrgChart.Models.EmployeeSearch a in Model.OrderBy(o => o.Name))
    {
    <button class="list-group-item list-group-item-action" data-id="@a.Id">@Html.Label(a.Name) </button>
    }
</div>

<script>
    $(function () {
        $(".list-group-item").click(function () {

            $('.active').removeClass("active")
            $(this).addClass("active");
            var empid = $(this).data("id");
           
            $.ajax({
                url: "/Home/Init",
                type: "POST",

                data: "id=" + empid,
                success: function (data) {
                  
                    $('#chart-container').html("");
                    window.yourGlobalVariable.init({ 'data': data });
                }
            });

        });
    });
</script>