
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-3 text-center">
        <input id="searchTerm" type="text" name="searchTerm" class="form-control" action="@Url.Action("Index")" data-orgchart-ajax="true" data-orgchart-target="#chart-container" />
        <br />
        <button id="search" class="btn btn-primary">Search By Name</button>
        
        <br />
        <div id="test"class="scrollbar scrollbar-primary">
            
        </div>
    </div>
    <div class="col-md-9 text-center">
        <button id="btnRecenter" class="btn btn-primary" >Recenter</button>
        <div id="chart-container"></div>
    </div>
</div>
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">
            
            $(document).ready(function () {
                
                $("#searchTerm").keyup(function (event) {
                    if (event.keyCode === 13) {
                        $("#search").click();
                    }
                });
                

                var ajaxFormSubmit = function () {
                    $('#search').html('<i class="fa fa-circle-o-notch fa-spin spinner"></i>');
                    $('#search').attr("disabled","true");
                    var term = $("#searchTerm").val();
                    
                    $.ajax({
                        url: "/Home/search1",
                        type: "POST",
                        
                        data: "searchTerm="+term,
                        success: function (data) {
                            $('#test').empty();
                            $('#test').append(data);
                            $('#search').html("Search By Name");
                            $('#search').removeAttr('disabled');
                        }
                    });
                }
                    

                


                $("#search").click(ajaxFormSubmit);


                $('#btnRecenter').click(function () {
                    var chart = $('.orgchart');
                    var posX = chart.width() > chart.parent('div').width() ? -((chart.width() / 2) - (chart.parent('div').width()/2)) : '0';
                    chart.css('transform', 'matrix(1, 0, 0, 1, ' + posX + ', 0)');
                });

                
                //$("#SearchName").autocomplete({
                //    source: function (request, response) {
                //        alert("auto");
                //        $.ajax({
                //            url: "/Home/Autocomplet",
                //            type: "POST",
                //            dataType: "json",
                //            data: { prefix: request.term },
                //            success: function (data) {
                //                response($.map(data, function (item) {
                //                    return { label: item.Name, value: item.Name };
                //                }))

                //            }
                //        })
                //    },
                //    messages: {
                //        noResults: "", results: ""
                //    }
                //});


                
            });

            var yourGlobalVariable;
            $(function() {
                
                

                var nodeTemplate = function (data) {
                    return `
                            <div class="flipcontainer">
  <div class="card">
    <div class="front"><div class="root">
                                      <h1>${data.Name}</h1>
                                       <p>${data.Role}</p>
                                       <p>${data.WorkLocation}</p>
                                       <p>${data.DepartmentName}</p>
                                       <p class="bottom-right">${data.Reporties}</p>   
                            </div></div>
    <div class="back"><div class="root">
                                      <h1>${data.Name}</h1>
                                       <p>${data.Role}</p>
                                          
                            </div></div>
  </div>
</div>
                            
                           
                         `;
                };

                var ajaxURLs = {
                    'children': '/Home/GetSubEmployee/',
                    'parent': '/Home/GetManager/',
                    'siblings': '/Home/GetSibling/',
                    'families': '/Home/GetFamily/'

                };
                var flipattach=function() {
                    


                    $('.flipcontainer').hover(function () {
                        $(this).children('.card').toggleClass('flipped');
                    }
                    );
                };
                yourGlobalVariable=$('#chart-container').orgchart({
                    'data': '/Home/Init',
                    'nodeTemplate': nodeTemplate,
                    'ajaxURL': ajaxURLs,
                    'nodeId': "Id",
                    'nodeTitle': "Name",
                    'zoom': 'true',
                    'pan': 'true',
                    'zoominLimit': 7,
                    'zoomoutLimit':0.5,
                    'initCompleted': flipattach

                });

                
            });


        </script>
