
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="chart-container"></div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(function () {
        
        var nodeTemplate = function (data) {
            return `
        
        <div class="title">${data.Name}</div>
        <div class="content">${data.Reporties}</div>
      `;
        };

        $('#chart-container').orgchart({
            'data': '/Home/Init',
            'nodeTemplate': nodeTemplate
        });

  });
</script>
