@{
    ViewBag.Title = "Home Page";
    OrgChart.Models.Employee root = ViewBag.root;
    List<OrgChart.Models.Employee> child = ViewBag.child;

}

<div class="panel">
    <div class="panel-heading">
        @Html.Partial("_RootEmployee", root)
    </div>
    <div class="panel-body">
        @Html.Partial("_ChildEmployee", child)
    </div>

</div>