
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="chart-container"></div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(function () {
        
        var nodeTemplate = function (data) {
            return `
        
       
<div class="root" >
<h1>${data.Name}</h1>
 <p>${data.Role}</p>
    <p>${data.WorkLocation}</p>
    <p>${data.DepartmentName}</p>

    <p class="bottom-right">${data.Reporties}</p>
   
</div>



      `;
        };

        var ajaxURLs = {
            'children':'/Home/GetSubEmployee/',
            'parent': '/Home/GetManager/',
            'siblings':'/Home/GetSibling/',
            'families':'/Home/GetFamily/' 
            
        };

        $('#chart-container').orgchart({
            'data': '/Home/Init',
            'nodeTemplate': nodeTemplate,
            'ajaxURL': ajaxURLs,
            'nodeId': "Id",
            'nodeTitle': "Name"
        });

  });
</script>
